/* Background color for the entire page */
body {
  background-color: #e8e6e6;
}

/* Heading style */
.heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  margin-top: 40px;
  text-transform: uppercase;
  color: #0b0808;
  text-align: center;
}

/* Category styles */
.categories-container {
  margin-top: 40px;
}

.category {
  background-color: #ffffff;
  color: #070000;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border:#ffffff;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 90%;
  margin-left: 40px;
}

.category:hover {
  background-color: #ad1f25;
}

.category.active {
  background-color: #ad1f25;
  color: #ffffff;
}

/* Item styles */
.items-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  background-color: #fefefe;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 20px;
  color: #333333;
  transition: all 0.3s ease-in-out;
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  width: 90%;
  margin-left: 40px;
  justify-content: space-between;
}

.item-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.item h3 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  flex: 1;
}

.item-quantity{
  font-size: 16px;
  margin-right: 10px;
  width: 40px;
  direction: rtl;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #e8e6e6;
  border-top: 1px solid #ccc;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

nav a:hover {
  color: #666;
}

.footer-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #e8e6e6;
}

.footer-links-container a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  margin: 0 30px; /* default margin */
}
.active-link {
  background-color: rgb(235, 114, 114);
}


@media screen and (min-width: 768px) {
  .footer-links-container a {
    margin: 0 50px; /* adjust margin for larger screens */
  }
}

@media screen and (min-width: 1024px) {
  .footer-links-container a {
    margin: 0 120px; /* adjust margin for even larger screens */
  }
}


